{#  Citation for the following HTML: 
    Date: 07/18/2022
    Source URL: bsg_HTML_UI download planets.html file BS https://canvas.oregonstate.edu/courses/1879182/assignments/8895208?module_item_id=22241454 #}

{% extends "layout.j2" %}

{% with modal_title=modal_title, modal_body=modal_body, button_action='Delete', classes='btn-delete' %}
  {% include "components/_modal.j2" %}
{% endwith %}


{% block table %}
  <div>
  <table id="browse" border="1" cellpadding="5">
    <tr>
      {% for key in student_enrollments[0].keys() %}
        <th>{{ key }}</th>
      {% endfor %}
      <th>Update</th>
      <th>Delete</th>
    </tr>
    {% for se in student_enrollments %}
      <tr data-student-enrollment-id="{{se['student_enrollment_id']}}">
        {% for key in se.keys() %}
          <td>{{se[key]}}</td>
        {% endfor %}
        <td><a href="student_enrollments/{{se['student_enrollment_id']}}">Update</a></td>
        <td>
          <!-- Button trigger modal -->
          <button type="button" class="btn btn-danger btn-modal-delete" data-toggle="modal" data-target="#modal" data-student-enrollment-id="{{se['student_enrollment_id']}}">
            Delete
          </button>
        </td>
        
      </tr>
    {% endfor %}
  </table>
  <p>&nbsp;</p>
  </div> <!-- browse -->
  <div id="insert">
      <form action="/student_enrollments" method="POST">
          <legend><strong>Enroll Student</strong></legend>
            <fieldset class="fields">
              <label>Student ID</label> 
              <select name="student_id">
                {% for s in students %}
                  <option value="{{s.student_id}}">{{s.student_id}}: {{s.name}}</option>
                {% endfor %}
              </select>
              
              <label>Course ID</label> 
              <select name="course_id">
                {% for c in courses %}
                  <option value="{{c.course_id}}">
                    {{c.course_id}}: {{c.course_name}}, {{c.start_date}} - {{c.end_date}}
                  </option>
                {% endfor %}
              </select> 
            </fieldset>
            {% with messages = get_flashed_messages() %}
              {% if messages %}
                <ul class="flashes">
                    {% for message in messages %}
                    <div class="message_flash">{{ message }}</div>
                    {% endfor %}
                </ul>
              {% endif %}
            {% endwith %}
            <input class="btn" type="submit" value="Enroll">
            <input class="btn" type="button" value="Clear">
    </form> 
  </div>
{% endblock table %}

