{#  Citation for the following HTML: 
    Date: 07/18/2022
    Source URL: bsg_HTML_UI download planets.html file BS https://canvas.oregonstate.edu/courses/1879182/assignments/8895208?module_item_id=22241454 #}

{% extends "layout.j2" %}

{% block table %}
  <div id="browse">
  <table border="1" cellpadding="5">
    <tr>
      <th>Student Enrollment ID</th>
      <th>Student ID</th>
      <th>Student Name</th>
      <th>Course ID</th>
      <th>Course Name</th>
      <th>Course Start Date</th>
      <th>Course End Date</th>
      <th>Is Enrolled</th>
      <th>Certificate ID</th>
      <th>Delete</th>
      <th>Update</th>
    </tr>
    {% for se in student_enrollments %}
      <tr>
        <td>{{se['student_enrollment_id']}}</td>
        <td>{{se['student_id']}}</td>
        <td>{{se['student_name']}}</td>
        <td>{{se['course_id']}}</td>
        <td>{{se['course_name']}}</td>
        <td>{{se['course_start_date']}}</td>
        <td>{{se['course_end_date']}}</td>
        <td>{{se['is_enrolled']}}</td>
        <td>{{se['certificate_id']}}</td>
        <td><a href="student_enrollments/delete/{{se['student_enrollment_id']}}" class="btn btn-default">Delete</a></td>
        <td><a href="student_enrollments/{{se['student_enrollment_id']}}">Update</a></td>
      </tr>
    {% endfor %}
  </table>
  <p>&nbsp;</p>
  </div> <!-- browse -->
  <div id="insert">
      <form action="/student_enrollments" method="POST">
          <legend><strong>Enroll Student</strong></legend>
            <fieldset class="fields">
              <label>Student ID</label> <input type="number" name="student_id"  min="1" autocomplete="off">  
              <label>Course ID</label> <input type="number" name="course_id" min="1" autocomplete="off">  
            </fieldset>
            {% with messages = get_flashed_messages() %}
              {% if messages %}
                <ul class="flashes">
                    {% for message in messages %}
                    <div class="message_flash">{{ message }}</div>
                    {% endfor %}
                </ul>
              {% endif %}
            {% endwith %}
            <input class="btn" type="submit" value="Enroll">
            <input class="btn" type="button" value="Clear">
    </form> 
  </div><!-- insert -->
  <p>&nbsp;</p>
  <div id="delete" style="display: block">
    <form method="POST">
        <legend><strong>Delete Student Enrollment</strong></legend>
            <fieldset class="fields">
            <p>Are you sure you wish to delete the following?</p>
            <input type="hidden" name="student_enrollment_id" value="1">
            <label>Student Enrollment ID</label> <input type="text" name="student_enrollment_id">  
              
      </fieldset>
      <input class="btn" type="submit" value="Delete">
      <input class="btn" type="button" value="Clear">
    </form> 
  </div><!-- delete -->
{% endblock table %}