{#  Citation for the following HTML:
    Date: 07/18/2022
    Source URL: bsg_HTML_UI download planets.html file BS https://canvas.oregonstate.edu/courses/1879182/assignments/8895208?module_item_id=22241454 #}

{% extends "layout.j2" %}

{% block table %}
    <h1>Manage Course Instructors</h1>
    <div id="ci_browse">
      <table border="1" cellpadding="5">
          <thead>
            <tr>
              {% for key in course_instructor[0].keys() %}
                <th>{{ key }}</th>
              {% endfor %}
            </tr>
          </thead>
        <tbody>
        {% for item in course_instructor %}
            <tr>
                {% for key in item.keys() %}
                    <td>{{item[key]}}</td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  <!-- insert -->
  <div id="ci_insert">
      <form action="/course_instructor" method="POST">
          <legend><strong>Add New Course Instructor</strong></legend>
            <fieldset class="fields">
                <label>Course ID </label>
                <select name="course_id">
                    {% for c in courses %}
                        <option value="{{c.course_id}}">{{c.course_id}}: {{c.course_name}}, {{c.start_date}} - {{c.end_date}}</option>
                    {% endfor %}
                </select>
                <label>Instructor ID </label>
                <select name="instructor_id">
                    {% for i in instructors %}
                        <option value="{{i.instructor_id}}">{{i.instructor_id}}: {{i.name}}</option>
                    {% endfor %}
                </select>
            </fieldset>
            <input class="btn" type="submit" value="Add">
            <input class="btn" type="button" value="Clear">
    </form>
  </div>
{% endblock table %}