{#  Citation for the following HTML: 
    Date: 07/18/2022
    Source URL: bsg_HTML_UI download planets.html file BS https://canvas.oregonstate.edu/courses/1879182/assignments/8895208?module_item_id=22241454 #}

{% extends "layout.j2" %}

{% block table %}
  <h1>Manage Certificates</h1>

  <!-- browse -->
  <div id="browse">
  <table border="1" cellpadding="5">
    <tr>
      <th>Certificate ID</th>
      <th>Student Name</th>
      <th>Course Name</th>
      <th>Certificate Title</th>
      <th>Issue Date</th>
    </tr>
    <tbody>
    {% for cert in certificates %}
      <tr>
        <td>{{cert['certificate_id']}}</td>
        <td>{{cert['student_name']}}</td>
        <td>{{cert['course_name']}}</td>
        <td>{{cert['certificate_title']}}</td>
        <td>{{cert['issue_date']}}</td>
      </tr>
    {% endfor %}
    <tbody>
  </table>
  <p>&nbsp;</p>
  </div>
  <!-- insert -->
  <div id="insert">
      <form action="/certificates" method="POST">
          <legend><strong>Add New Certificate</strong></legend>
            <fieldset class="fields">
              <label>Certificate Title</label> <input type="text" name="certificate_title">
              <label>Issue Date</label> <input type="date" name="issue_date">  
            </fieldset>
            {% with messages = get_flashed_messages() %}
              {% if messages %}
                <ul class="flashes">
                    {% for message in messages %}
                    <div class="message_flash">{{ message }}</div>
                    {% endfor %}
                </ul>
              {% endif %}
            {% endwith %}
            <input class="btn" type="submit" value="Add">
            <input class="btn" type="button" value="Clear">
    </form> 
  </div>
{% endblock table %}
