{#  Citation for the following HTML: 
    Date: 07/18/2022
    Adapted from:
    Source URL: bsg_HTML_UI download planets.html file BS https://canvas.oregonstate.edu/courses/1879182/assignments/8895208?module_item_id=22241454 #}

{% extends "layout.j2" %}

{% block table %}
  <h1>Manage Certificates</h1>

  <!-- browse -->
  <div id="browse">
  <table border="1" cellpadding="5">
    <tr>
      {% if certificates %}
        {% for key in certificates[0].keys() %}
          <th>{{ key }}</th>
        {% endfor %}
      {% else %}
        {% for h in table_headers %}
          <th>{{ h }}</th>
        {% endfor %}
      {% endif %}
    </tr>
    <tbody>
    {% for cert in certificates %}
      <tr>
        {% for key in cert.keys() %}
          <td>{{cert[key]}}</td>
        {% endfor %}
      </tr>
    {% endfor %}
    <tbody>
  </table>
  <p>&nbsp;</p>
  </div>
  <!-- insert -->
  <div id="insert">
      <form action="/certificates" method="POST">
          <legend><strong>Add New Certificate</strong></legend>
            <fieldset class="fields">
              <label>Certificate Title</label> <input type="text" name="certificate_title">
              <label>Issue Date</label> <input type="date" name="issue_date">  
              <label>Student Enrollment ID</label>
              <select name="student_enrollment_id" required>
                  {% for se in student_enrollments %}
                    <option value="{{se.student_enrollment_id}}">{{se.student_enrollment_id}}: {{se.student_name}} | {{se.course_name}}</option>
                  {% endfor %}
              </select>
            </fieldset>
            {% with messages = get_flashed_messages() %}
              {% if messages %}
                <ul class="flashes">
                    {% for message in messages %}
                    <div class="message_flash">{{ message }}</div>
                    {% endfor %}
                </ul>
              {% endif %}
            {% endwith %}
            <input class="btn" type="submit" value="Add">
            <input class="btn" type="button" value="Clear">
    </form> 
  </div>
{% endblock table %}
