{#  Citation for the following HTML:
    Date: 07/18/2022
    Source URL: bsg_HTML_UI download planets.html file BS https://canvas.oregonstate.edu/courses/1879182/assignments/8895208?module_item_id=22241454 #}

{% extends "layout.j2" %}

{% with modal_title=modal_title %}
  {% include "components/_modal.j2" %}
{% endwith %}

{% block table %}
  <h1>Manage Instructors</h1>

<!-- browse -->
  <div id="browse-instructors">
    <table border="1" cellpadding="5">
      <thead>
      <tr>
          {% for key in instructors[0].keys() %}
            <th>{{ key }}</th>
          {% endfor %}
          <th>Delete</th>
      </tr>
      </thead>
    <tbody>
    {% for instructor in instructors %}
        <tr data-instructor-id="{{instructor.instructor_id}}">
            {% for key in instructor.keys() %}
                <td>{{instructor[key]}}</td>
            {% endfor %}
            <td>
              <button type="button" class="btn btn-danger btn-modal-delete" data-toggle="modal" data-target="#modal" data-instructor-id="{{instructor['instructor_id']}}">
                Delete
              </button>
            </td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
  </div>
  <!-- insert -->
  <div id="insert">
      <form action="/instructors" method="POST">
          <legend><strong>Add New Instructor</strong></legend>
            <fieldset class="fields">
                <label>Name</label> <input type="text" name="name" required>
                <label>Email</label> <input type="email" name="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required>
                <label>Phone Number</label> <input type="number" name="phone_number">
                <label for="instructor_title">Instructor Title</label>
                    <select name="instructor_title" id="instructor_title">
                        <option value="Teacher">Teacher</option>
                        <option value="Teaching Assistant">Teaching Assistant</option>
                        <option value="Mentor">Mentor</option>
                    </select>
                <label for="pronoun">Pronoun</label>
                    <select name="pronoun" id="pronoun">
                        <option value="">None</option>
                        <option value="She/her/her">She/her/her</option>
                        <option value="He/him/his">He/him/his</option>
                        <option value="They/them/their">They/them/their</option>
                    </select>
            </fieldset>
            {% with messages = get_flashed_messages() %}
              {% if messages %}
                <ul class="flashes">
                    {% for message in messages %}
                    <div class="message_flash">{{ message }}</div>
                    {% endfor %}
                </ul>
              {% endif %}
            {% endwith %}
            <input class="btn" type="submit" value="Add">
            <input class="btn" type="button" value="Clear">
    </form>
  </div>
{% endblock table %}