<html>
<head>
<title>Courses</title>
<link href="style.css" rel="stylesheet" type="text/css" />
</head>

<body>

    <h1>Course Instructors</h1>

    [ <a href="students">Students</a> | <a href="student_enrollments">Student Enrollments</a> | <a href="instructors">Instructor</a> | <a href="courses">Courses</a> | <a href="certificates">Certificates</a> ]

<div id="ci_browse">
  <table border="1" cellpadding="5">
      <thead>
      <tr>
        <th>Course ID</th>
        <th>Instructor ID</th>
      </tr>
      </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>1</td>
        </tr>
        <tr>
            <td>1</td>
            <td>4</td>
        </tr>
        <tr>
            <td>3</td>
            <td>2</td>
        </tr>
    </tbody>
  </table>
  <p>&nbsp;</p>
  </div>
  <!-- insert -->
  <div id="ci_insert">
      <form method="POST">
          <legend><strong>Add Course Instructors</strong></legend>
            <fieldset class="fields">
                <label>Course ID</label> <input type="number" name="course_id">
                <label>Instructor ID</label> <input type="number" name="instructor_id">
            </fieldset>
            <input class="btn" type="submit" value="Submit">
            <input class="btn" type="button" value="Cancel">
    </form>
  </div>
</body>
</html>