{#  Citation for the following HTML:
    Date: 07/18/2022
    Source URL: bsg_HTML_UI download planets.html file BShttps://canvas.oregonstate.edu/courses/1879182/assignments/8895208?module_item_id=22241454 #}
<html>
<head>
<title>Courses</title>
<link href="style.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <h1>Courses</h1>

  [ <a href="students">Students</a> | <a href="student_enrollments">Student Enrollments</a> | <a href="instructors">Instructor</a> | <a href="courses">Courses</a> | <a href="certificates">Certificates</a> ]
<!-- browse -->
  <div id="browse">
  <table border="1" cellpadding="5">
      <thead>
      <tr>
        <th>Course ID</th>
        <th>Course name</th>
        <th>Level</th>
        <th>Start date</th>
        <th>End date</th>
          <th>Status</th>
      </tr>
      </thead>
    <tbody>
    {% for course in courses %}
        <tr>
            <td>{{course['course_id']}}</td>
            <td>{{course['course_name']}}</td>
            <td>{{course['level']}}</td>
            <td>{{course['start_date']}}</td>
            <td>{{course['end_date']}}</td>
            <td>{{course['status']}}</td>
        </tr>
        {% endfor %}
    </tbody>
  </table>
  <p>&nbsp;</p>
  </div>
  <!-- insert -->
  <div id="insert">
      <form method="POST">
          <legend><strong>Add Course</strong></legend>
            <fieldset class="fields">
                <label>Course name</label> <input type="text" name="course_name">
                <label for="level">Choose a level</label>
                    <select name="level" id="level">
                        <option value="beginner">beginner</option>
                        <option value="intermediate">intermediate</option>
                    </select>
                <label>Start ate</label> <input type="date" name="course_start_date">
                <label>End date</label> <input type="date" name="course_end_date">
                <label>Status</label>
                    <select name="status" id="status">
                        <option value="1">active</option>
                        <option value="0">cancelled</option>
                    </select>
            </fieldset>
            <input class="btn" type="submit" value="Add Course">
            <input class="btn" type="button" value="Cancel">
    </form>
  </div>
</body>
</html>
