{#  Citation for the following HTML: 
    Date: 07/18/2022
    Source URL: bsg_HTML_UI download planets.html file BS https://canvas.oregonstate.edu/courses/1879182/assignments/8895208?module_item_id=22241454 #}

{% extends "layout.j2" %}

{% block table %}
    <h1>Welcome to CodExcellent Coding Bootcamp Management System</h1>
    <h3>The site will allow you to manage your students, instructors, courses, certificates and more!</h3>

    <h4>CodExcellent is a coding bootcamp that offers students software development
        courses. Currently, CodExcellent serves about 1000 students each year and offers 10 courses related to software
        development. Additionally, there are 50 instructors teaching at the program. Students can enroll in our courses
        and earn certificates upon completion.</h4>
{% endblock table %}
