{#  Citation for the following HTML: 
    Date: 07/17/2022
    Source URL: https://github.com/osu-cs340-ecampus/flask-starter-app  #}
<html>
<body>
    <h1>Welcome to CodExcellent Coding Bootcamp Management System</h1>
    <h3>The site will allow you to manage your students, instructors, courses, certificates and more!</h3>
    <ul>
        <li><a href="students">Students</a></li>
        <li><a href="student_enrollments">Student Enrollments</a></li>
        <li><a href="instructors">Instructor</a></li>
        <li><a href="courses">Courses and Course Instructors</a</li>
        <li><a href="certificates">Certificates</a></li>
    </ul>

    <h3>CodExcellent is a coding bootcamp that offers students software development
        courses. Currently, CodExcellent serves about 1000 students each year and offers 10 courses related to software
        development. Additionally, there are 50 instructors teaching at the program. Students can enroll in our courses
        and earn certificates upon completion.</h3>
</body>
</html>
