{#  Citation for the following HTML:
    Date: 07/18/2022
    Source URL: bsg_HTML_UI download planets.html file BShttps://canvas.oregonstate.edu/courses/1879182/assignments/8895208?module_item_id=22241454 #}
<html>
<head>
<title>Students</title>
<link href="style.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <h1>Students</h1>

  [ <a href="students">Students</a> | <a href="student_enrollments">Student Enrollments</a> | <a href="instructors">Instructor</a> | <a href="courses">Courses</a> | <a href="certificates">Certificates</a> ]
<!-- browse -->
  <div id="browse">
  <table border="1" cellpadding="5">
      <thead>
      <tr>
        <th>Student ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Phone number</th>
        <th>Pronoun</th>
      </tr>
      </thead>
    <tbody>
    {% for student in students %}
        <tr>
            <td>{{student['student_id']}}</td>
            <td>{{student['name']}}</td>
            <td>{{student['email']}}</td>
            <td>{{student['phone_number']}}</td>
            <td>{{student['pronoun']}}</td>
        </tr>
        {% endfor %}
    </tbody>
  </table>
  <p>&nbsp;</p>
  </div>
  <!-- insert -->
  <div id="insert">
      <form method="POST">
          <legend><strong>Add Students</strong></legend>
            <fieldset class="fields">
                <label>Name</label> <input type="text" name="student.name">
                <label>Email</label> <input type="text" name="student.email">
                <label>Phone number</label> <input type="text" name="student.phone_number">
                <label>Pronoun</label> <input type="text" name="student.pronoun">
            </fieldset>
            <input class="btn" type="submit" value="Add Student">
            <input class="btn" type="button" value="Cancel">
    </form>
  </div>
  <p>&nbsp;</p>
  <!-- update -->
  <div id="update">
      <form method="PUT">
          <legend><strong>Update Student Information</strong></legend>
            <fieldset class="fields">
                <label>Name</label> <input type="text" name="student.name">
                <label>Email</label> <input type="text" name="student.email">
                <label>Phone number</label> <input type="text" name="student.phone_number">
                <label>Pronoun</label> <input type="text" name="student.pronoun">
            </fieldset>
            <input class="btn" type="submit" value="Update">
            <input class="btn" type="button" value="Cancel">
    </form>
  </div>
  <p>&nbsp;</p>
  <!-- delete -->
  <div id="delete" style="display: block">
    <form method="DELETE">
        <legend><strong>Delete Student</strong></legend>
            <fieldset class="fields">
            <p>Are you sure you want to delete this Student?</p>
            <input type="hidden" name="student_id" value="1">
            <label>Student ID</label> <input type="text" name="student_id">

      </fieldset>
      <input class="btn" type="submit" value="Delete Student">
      <input class="btn" type="button" value="cancel">
    </form>
  </div>
</body>
</html>