{#  Citation for the following HTML:
    Date: 07/18/2022
    Source URL: bsg_HTML_UI download planets.html file BShttps://canvas.oregonstate.edu/courses/1879182/assignments/8895208?module_item_id=22241454 #}

<html>
<head>
<title>Students</title>
<link href="style.css" rel="stylesheet" type="text/css" />
</head>

<body onload="browseStudents()">
  <h1>Students</h1>

  [ <a href="students">Students</a> | <a href="student_enrollments">Student Enrollments</a> | <a href="instructors">Instructor</a> | <a href="courses">Courses</a> | <a href="certificates">Certificates</a> ]

  <div id="browse">
  <table border="1" cellpadding="5">
    <tr>
      <th>certificate_id</th>
      <th>certificate_title</th>
      <th>student_enrollment_id</th>
    </tr>
    <tr>
      <td>1</td>
      <td>Certificate of Completion</td>
      <td>1</td>
    </tr>
    <tr>
      <td>2</td>
      <td>Certificate of Completion</td>
      <td>1</td>
    </tr>
    <tr>
      <td>3</td>
      <td>Certificate of Completion</td>
      <td>2</td>
    </tr>
  </table>
  <p>&nbsp;</p>
  </div> <!-- browse -->
  <div id="insert">
      <form method="POST">
          <legend><strong>Add Certificate</strong></legend>
            <fieldset class="fields">
              <label>Student Enrollment ID</label> <input type="text" name="student_enrollment_id">
              <label>Certificate Title</label> <input type="text" name="certificate_title">
            </fieldset>
            <input class="btn" type="submit" value="Add Certificate">
            <input class="btn" type="button" value="cancel" onClick="browseCertificates()">
    </form>
  </div><!-- insert -->
  <p>&nbsp;</p>
  <div id="update">
      <form method="POST">
          <legend><strong>Update Certificate</strong></legend>
            <fieldset class="fields">
              <label>Student Enrollment ID</label> <input type="text" name="student_enrollment_id">
              <label>Certificate Title</label> <input type="text" name="certificate_title">
            </fieldset>
            <input class="btn" type="submit" value="Save Update Certificate">
            <input class="btn" type="button" value="cancel" onClick="browseCertificates()">
    </form>
  </div><!-- update -->
  <p>&nbsp;</p>
  <div id="delete" style="display: block">
    <form method="POST">
        <legend><strong>Delete Certificate</strong></legend>
            <fieldset class="fields">
            <p>Are you sure you wish to delete the following?</p>
            <input type="hidden" name="certificate_id" value="1">
            <label>Certificate ID</label> <input type="text" name="certificate_title">

      </fieldset>
      <input class="btn" type="submit" value="Delete Certificate">
      <input class="btn" type="button" value="cancel" onClick="browseCertificates()">
    </form>
  </div><!-- delete -->

  <
  </script>
</body>
</html>



