{#  Citation for the following HTML:
    Date: 07/18/2022
    Source URL: bsg_HTML_UI download planets.html file BShttps://canvas.oregonstate.edu/courses/1879182/assignments/8895208?module_item_id=22241454

    Citation #2 for HTML components
    Accessed date: 8/1/2022
    Source: CS340 Flask guide
    URL: https://github.com/osu-cs340-ecampus/flask-starter-app/blob/master/bsg_people_app/templates/people.j2#}

{% extends "layout.j2" %}

{% block table %}
  <h1>Manage Students</h1>

<!-- browse -->
  <div id="browse">
  <table border="1" cellpadding="5">
      <thead>
        <tr>
          {% if students %}
            {% for key in students[0].keys() %}
              <th>{{ key }}</th>
            {% endfor %}
          {% else %}
            {% for h in table_headers %}
              <th>{{ h }}</th>
            {% endfor %}
          {% endif %}
            <th>Update</th>
        </tr>
      </thead>
    <tbody>
    {% for student in students %}
        <tr>
            {% for key in student.keys() %}
                <td>{{student[key]}}</td>
            {% endfor %}
            <td><a href="students/edit/{{student.student_id}}"><input class="btn btn-secondary" type="button" value="Update"></a></td>
        </tr>
    {% endfor %}
    </tbody>
  </table>
  <p>&nbsp;</p>
  </div>
  <!-- insert -->
  <div id="insert">
      <form action="/students" method="POST">
          <legend><strong>Add New Student</strong></legend>
            <fieldset class="fields">
              <label>Full Name</label> <input type="text" name="name" required>
              <label>Email</label> <input type="email" name="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required>
              <label>Phone Number</label> <input type="text" name="phone_number">
              <label for="pronoun">Pronoun</label>
                <select name="pronoun" id="pronoun">
                    <option value="" selected>None</option>
                    <option value="She/her/her">She/her/her</option>
                    <option value="He/him/his">He/him/his</option>
                    <option value="They/them/their">They/them/their</option>
                </select>
                <label>Tutor</label>
                <select name="instructor_id">
                    <option value="" selected>None</option>
                    {% for i in instructors %}
                        <option value="{{i.instructor_id}}">{{i.instructor_id}}: {{i.name}}</option>
                    {% endfor %}
                </select>
            </fieldset>
            {% with messages = get_flashed_messages() %}
              {% if messages %}
                <ul class="flashes">
                    {% for message in messages %}
                    <div class="message_flash">{{ message }}</div>
                    {% endfor %}
                </ul>
              {% endif %}
            {% endwith %}
            <input class="btn" type="submit" value="Add">
        </form>
  </div>
{% endblock table %}