{#  Citation for the following HTML:
    Date: 07/18/2022
    Source URL: bsg_HTML_UI download planets.html file BShttps://canvas.oregonstate.edu/courses/1879182/assignments/8895208?module_item_id=22241454 #}

{% extends "layout.j2" %}

{% block table %}
  <h1>Manage Students</h1>

<!-- browse -->
  <div id="browse">
  <table border="1" cellpadding="5">
      <thead>
      <tr>
        <th>Student ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Phone Number</th>
        <th>Pronoun</th>
      </tr>
      </thead>
    <tbody>
    {% for student in students %}
        <tr>
            <td>{{student['student_id']}}</td>
            <td>{{student['name']}}</td>
            <td>{{student['email']}}</td>
            <td>{{student['phone_number']}}</td>
            <td>{{student['pronoun']}}</td>
        </tr>
    {% endfor %}
    </tbody>
  </table>
  <p>&nbsp;</p>
  </div>
  <!-- insert -->
  <div id="insert">
      <form action="/students" method="POST">
          <legend><strong>Add New Student</strong></legend>
            <fieldset class="fields">
              <label>Full Name</label> <input type="text" name="name" required>
              <label>Email</label> <input type="text" name="email" >
              <label>Phone Number</label> <input type="number" name="phone_number">
              <label for="pronoun">Pronoun</label>
                <select name="pronoun" id="pronoun">
                    <option value="">None</option>
                    <option value="She/her/her">She/her/her</option>
                    <option value="He/him/his">He/him/his</option>
                    <option value="They/them/their">They/them/their</option>
                </select>
            </fieldset>
            {% with messages = get_flashed_messages() %}
              {% if messages %}
                <ul class="flashes">
                    {% for message in messages %}
                    <div class="message_flash">{{ message }}</div>
                    {% endfor %}
                </ul>
              {% endif %}
            {% endwith %}
            <input class="btn" type="submit" value="Add">
            <input class="btn" type="button" value="Clear">
    </form>
  </div>
  <p>&nbsp;</p>
{% endblock table %}